<nav class="navbar navbar-expand-lg navbar-light bg-skyblue"> 
  <a class="navbar-brand m-2" href="./hostel-list/">NestNook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto m-2">
      <li class="nav-item">
        <a routerLink="/hostel-list" routerLinkActive="active" class="nav-link">Hostel List</a>
      </li>
      <li class="nav-item ml-auto"> 
        <a routerLink="/add-hostel" routerLinkActive="active" class="nav-link">Add Hostel</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-skyblue text-white py-3"> 
  <div class="text-center">© NestNook.com</div>
</footer>
